= simple_form_for :session, url: backend_sessions_path, :html => { :class => 'form-vertical' } do |form|
  = form.input :email, input_html: { class: 'span4'}
  = form.input :password, input_html: { class: 'span4'}
  = form.button :submit, :class => 'btn btn-info btn-block'
