%header.content-header
  %h1.light.no-margin Dashboard

%section.bordered
  .container-fluid
    .metro-area
      %ul.metro-shortcut.clearfix.unstyled
        %li.item.wide
          .box.bg-color.green
            %i.icon-camera
            %span.count 10
            %h4.header.light New Messages
        -# %li.item
        -#   .box.bg-color.red
        -#     %i.icon-music
        -#     %h4.header.light Music
        -# %li.item
        -#   .box.bg-color.blue
        -#     %i.icon-twitter
        -#     %h4.header.light Twitter
        -# %li.item.wide
        -#   .box.bg-color.red
        -#     %i.icon-shopping-cart
        -#     %h4.header.light Shopping
        -# %li.item.wide
        -#   .box.bg-color.blue
        -#     %i.icon-calendar
        -#     %h4.header.light Calendar
        -# %li.item
        -#   .box.bg-color.blue
        -#     %i.icon-camera
        -#     %h4.header.light Photos
        -# %li.item
        -#   .box.bg-color.purple
        -#     %i.icon-trophy
        -#     %h4.header.light Trophy
        -# %li.item
        -#   .box.bg-color.orange
        -#     %i.icon-food
        -#     %h4.header.light Food

%section
  .container-fluid.gap-bottom
    .row-fluid.aligncenter
      .span3.small-chart.charts
        %span.inlinebar.green
        %h1 -$1,458
        %h4 Startup Cash
      .span3.small-chart.charts
        %span.inlinestackbar.blue
        %h1 +951
        %h4 Geeks vs Nerds
      .span3.small-chart.charts
        %span.inlinepie.red
        %h1 +24
        %h4 Code Type
      .span3.small-chart.charts
        %span.inlineline.green
        %h1 +3,550
        %h4 Click Rate

-# %section.bordered.bg-color.dark-grey
-#   .container-fluid
-#     .row-fluid
-#       .span12
-#         %h3.light.aligncenter Sign Up Rate
-#         #flot-line-filled.graph-area.charts

-# %section.bordered
-#   .container-fluid
-#     .row-fluid
-#       .span12
-#         #myCarousel.carousel.carousel-custom.slide
-#           .carousel-inner
-#             .item.active
-#               %h2.light Consectetur twee american apparel assumenda
-#               %p
-#                 Bushwick est placeat DIY. Kogi magna voluptate, meh do bespoke quis flannel cosby sweater culpa placeat farm-to-table Austin helvetica. Dreamcatcher reprehenderit ugh odio mumblecore. Voluptate fixie master cleanse, adipisicing selfies hoodie before they sold out meh put a bird on it deserunt plaid dolor letterpress velit. Dolore esse dolor, enim banksy nesciunt neutra eiusmod deserunt. Austin selfies nihil blue bottle helvetica. Squid flannel selfies photo booth, locavore art party meh veniam ut irure DIY ethical readymade ullamco sed.
-#             .item
-#               %h2.light Locavore art party meh veniam ut irure
-#               %p
-#                 Bushwick est placeat DIY. Kogi magna voluptate, meh do bespoke quis flannel cosby sweater culpa placeat farm-to-table Austin helvetica. Dreamcatcher reprehenderit ugh odio mumblecore. Voluptate fixie master cleanse, adipisicing selfies hoodie before they sold out meh put a bird on it deserunt plaid dolor letterpress velit. Dolore esse dolor, enim banksy nesciunt neutra eiusmod deserunt. Austin selfies nihil blue bottle helvetica. Squid flannel selfies photo booth, locavore art party meh veniam ut irure DIY ethical readymade ullamco sed.
-#           %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"}
-#             %i.icon-arrow-left
-#           %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"}
-#             %i.icon-arrow-right

%section.bordered
  .container-fluid
    .row-fluid
      .span4
        .widget
          .widget-header
            %i.icon-heart.icon-metro
            %h3 featured articles
          .widget-content
            %ul.unstyled.list-article
              %li
                %header
                  %img.thumbnail{:src => "http://placehold.it/40x40/0072c6/ffffff"}/
                  %h3.light Ethical readymade ullamco sed
              %li
                %header
                  %img.thumbnail{:src => "http://placehold.it/40x40/0072c6/ffffff"}/
                  %h3.light Pickled consectetur brunch elit nisi narwhal
              %li
                %header
                  %img.thumbnail{:src => "http://placehold.it/40x40/0072c6/ffffff"}/
                  %h3.light Adipisicing selfies hoodie before
              %li
                %header
                  %img.thumbnail{:src => "http://placehold.it/40x40/0072c6/ffffff"}/
                  %h3.light Locavore art party meh veniam
      .span4
        .widget
          .widget-header
            %i.icon-user.icon-metro
            %h3 user opinions
          .widget-content
            %ul.unstyled.list-comment
              %li
                %img.thumbnail{:src => "img/styler/user-small.png"}/
                %p Four loko echo park photo booth meh. Keytar quinoa gluten-free dolor terry richardson cred. Minim sriracha put a bird on it veniam
                %strong.name Haraldur Thorleifsson
                %a{:href => "#"} Google.com
              %li
                %img.thumbnail{:src => "img/styler/user-small.png"}/
                %p Minim sriracha put a bird on it veniam, freegan wolf artisan pickled incididunt american apparel nesciunt butcher odio jean shorts DIY
                %strong.name Ilias Sounas
                %a{:href => "#"} Apple.com
      .span4
        .widget.bg-color.dark-grey
          .widget-header
            %i.icon-calendar.icon-metro
            %h3 events
          .widget-content
            Ad artisan accusamus mixtape aliquip, bushwick try-hard deep v scenester biodiesel jean shorts keffiyeh. Bespoke qui master cleanse anim tousled minim. Art party occupy post-ironic messenger bag ut, quinoa mlkshk twee anim banksy lo-fi tonx voluptate.
    %div
