= simple_form_for [:backend, @monument], url: backend_monuments_path, html: { class: 'form-skin' } do |form|
  = form.input :user_id, :as => :hidden, :input_html => { :value => current_user.id }
  - form.globalize_fields_for_locale :el do |fields|
    = fields.input :name
    = fields.input :title
    = fields.input :description, input_html: { :class => "ckeditor" }
  = form.button :submit