- model_name = controller_name.classify.pluralize

%header.content-header
  %h1.light.no-margin= model_name.to_s
%section.bordered
  .container-fluid
    .row-fluid
      .span12
        .dataTables_wrapper{ role: 'grid' }
          .actions
            = link_to 'New monument', new_backend_monument_path, class: 'btn-flat btn btn-green btn-small no-radius'

          %table.table.table-striped.table-data.dataTable
            %thead
              %tr{ role: 'row' }
                %th.image{colspan: 1, width: 150}
                %th Name
                %th Title
                %th Creator
                %th.actions{colspan: 2}
            %tbody{:'aria-live' => 'polite', :'aria-relevant' => 'all'}
              %tr          
                %th= ''
                %th Olymompian zeus
                %th Olymompian zeus the god above all
                %th= '20.10.2013'
                %th
                  .actions
                    
                    = link_to '', class: 'span5' do 
                      %i.icon-eye-open
                      Edit
                    
                    = link_to '', class: 'span5' do 
                      %i.icon-remove
                      Delete

                = render @monuments
    
          .dataTables_info Showing 1 to 10 of 57 entries
          .dataTables_paginate.paging_two_button
            %a.paginate_disabled_previous Previous
            %a.paginate_enabled_next Next
            