- model_name = controller_name.classify

%header.content-header
  %h1.light.no-margin= model_name.to_s
%section.bordered
  .container-fluid
    .row-fluid
      .span12
        = render partial: 'form'