body {
  background: asset-url('backgrounds/pattern.png') repeat 0 0 transparent;
}

body {
  header {
    .logo {
      margin: 4px;
    }
    .dropdown {
      ul.dropdown-menu {
        li {
          a {
            margin: 0;
            border-radius: 0;
          }
        }
      }
    }
  }
}