!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "PathsCc"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    %link{:href => "http://fonts.googleapis.com/css?family=Ubuntu:300,400,500", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", :rel => "stylesheet", :type => "text/css"}/

    = favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144'
    = favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114'
    = favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72'
    = favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png'
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'


  %body{"cz-shortcut-listen" => "true"}
    %header
      .navbar
        .navbar-inner
          .branding.pull-left
            %h1.light.no-margin.logo
              %span in
              Paths.cc

          %ul.nav.pull-right
            %li.dropdown
              = link_to '#', class: 'dropdown-toggle', :'data-toggle' => 'dropdown' do
                = current_user.username.upcase.to_s
                %b.caret
              %ul.dropdown-menu
                %li= link_to 'Settings', '', class: 'btn btn-flat btn-blue'
                %li= link_to 'Logout', backend_logout_path, class: 'btn btn-flat' if current_user

    %aside.sidebar.sidebar-left.collapse
      %form.sidebar-search
        %input{:placeholder => "Search", :type => "text"}/
      %h3.sidebar-header.light Navigation
      = render_navigation context: :backend, level: 1

    %section.content
      .bordered
        .container-fluid
          .row-fluid
            .span12
              .hero-unit
                = render_navigation context: :backend, renderer: :links, level: 2
    
      = yield

    %aside.sidebar.sidebar-right
      .widget
        %header.widget-header
          %i.icon-user.icon-metro
          %h3.light online users

        - if current_users_list
          %article.widget-content
            %ul.unstyled.user-list.clearfix
              - current_users_list.split(',').each do |logged_user|
                %li
                  = gravatar_image_tag(current_user.email, :alt => current_user.username, :gravatar => { :size => 40 } )

      
      .widget.bg-color.grey
        %header.widget-header
          %i.icon-plus-sign.icon-metro
          %h3 latest 
        %article.widget-content
          %ul.unstyled.list
            %li
              %i.icon-folder-close
              %span.font-bold Metroboard
              %span.pull-right.label.label-success completed
            %li
              %i.icon-folder-close
              %span.font-bold Boardskin
              %span.pull-right.label.label-important 7 tasks
            %li
              %i.icon-folder-close
              %span.font-bold Landingskin
              %span.pull-right.label.label-important 1 task
            %li
              %i.icon-folder-close
              %span.font-bold Plain
              %span.pull-right.label.label-important 3 tasks
            %li
              %i.icon-folder-close
              %span.font-bold Website
              %span.pull-right.label.label-warning Pending
            %li
              %i.icon-folder-close
              %span.font-bold Snippets
              %span.pull-right.label.label-warning 4 tasks
            %li
              %i.icon-folder-close
              %span.font-bold Styler
              %span.pull-right.label.label-default unknown

    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application", "data-turbolinks-track" => true
